body {
    align-items: center;
    font-size: 15pt;
    text-align: center;
    border-style: dotted;
    border-spacing: 30px;
    border-color: #282828;
    border-radius: 20px;
    background-color: #000000;
}
.title{
    text-align: center;
    background-color: #230048;
    color: #BBBBBB;
    padding: 70px;
    font-family: monospace;
    margin: 0px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    
}
.div-title{
    border-style: solid;
    border-radius: 20px;
    border-color: #4351E4;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.p-title{
    background-color: #320064;
    margin: 0px;
    color: #BBBBBB;
    padding: 30px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;


}
.div-buttons{
    border-style: double;
    border-radius: 20px;
    border-color: #6100B6;
    font-size: 30px;
    margin: 10px;
}
.original{
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #282828;

}
.fullscreen{
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #282828;

}
.pt-br{
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #282828;

}
.bug{
    border-style: solid;
    border-radius: 20px;
    background-color: #282828;

}
.lk{
    color: #5904AD;
}
#git{
    color: #230046;

}
.btn{
    margin: 15px;
    font-size: 30px;
    border-radius: 10px;
    border-color: #320064;
    background-color: #282828;
    font-family: monospace;
    font-style: bold;
    color: #FFFFFF;
}
.txt{
    color: #5904AD;
    font-family: fantasy;
    
}
#bottom-text{
    background-color: #8FAAFF;
    border-radius: 20px;
    width: 150px;
    align-items: center;
    
}